/*create by wangzy
date:2016-04-01
desc:表单输入框样式
*/
@import url("../base.scss");
.wasabi-checkul
{
  list-style: none;
  padding-left: 0px;
  padding: 0px;
  height: 27px;
  margin: 0px;
  margin-top: 8px;

}
.wasabi-checkul li
{
  float: left;
  margin-right: 5px;
  max-height: 40px;
  position: relative;
  list-style-type: none;
  max-width:150px;
}
.wasabi-checkul li.checkbtn-wrap{
  max-width: none;
}
.wasabi-checkul .checktext
{
  float: left;
  padding-top: 0px;
  padding-left: 5px;
  cursor: default;
  margin-top: -20px;
  margin-left: 20px;
  max-width: 130px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 20px;
  line-height: 20px;
}

.wasabi-checkul .checkbox{
  display: block;
  width: 12px;
  height: 12px;
  position: relative;
  visibility: hidden;
}
.wasabi-checkul .checkbox + label {
  width:12px;
  height:12px;
  border: 1px solid #afb3b8;
  display: inline-block;
  margin-right: 3px;
  position: absolute;
  top: 2px;
  left: 3px;

}

.wasabi-checkul .checkbox + label[readonly] {
  background-color: #eee;
  cursor: not-allowed;
}
.wasabi-checkul .checkbox:hover + label {
  border: 1px solid #2ec9c2;
}

.wasabi-checkul .checkbox:checked + label {
  background-color: #2ec9c2;
  border: 1px solid transparent;
}
.wasabi-checkul .checkbox:checked + label:after {
  content: '';
  height: 8px;
  width: 8px;
  position: absolute;
  top: 1px;
  left: 2px;
  background-image: url("../../img/icons/draw.png");
  background-size: 8px 8px;
  background-repeat: no-repeat;
  color:transparent;
}


.checkbox-linkBtn{
  margin-bottom: 12px;
  cursor: pointer;
  border: 1px solid #d3d8dd;
  padding: 8px 22px;
  color:#333333;
  position: relative;
  top: -24px;
}
.checkbox-linkBtn-active{
  border: 1px solid #1ec9c3;
  padding: 8px 22px;
  color: #1ec9c3;
}
.checkbox-linkBtn .wasabi-linkbutton-text.left{
  margin-left: 0px;
}
.checkbox-linkBtn-active .icon-select{
  display: none!important;
}
.checkbox-linkBtn-active{
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyNpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNS1jMDE0IDc5LjE1MTQ4MSwgMjAxMy8wMy8xMy0xMjowOToxNSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIChNYWNpbnRvc2gpIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOkE3MDlDNUZERDY0MjExRTZCQ0FBQkM0OTVCQTcyQkREIiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOkE3MDlDNUZFRDY0MjExRTZCQ0FBQkM0OTVCQTcyQkREIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6QTcwOUM1RkJENjQyMTFFNkJDQUFCQzQ5NUJBNzJCREQiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6QTcwOUM1RkNENjQyMTFFNkJDQUFCQzQ5NUJBNzJCREQiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz6+2dqXAAAAdElEQVR42mL8//8/A7lA/tSR/0yUaAbRTJRoJssAZM0kG4CumSQDsGkm2gBcmokyAJ9mggYQ0ozXAFyaH5rZgDFeA/BphsrjNgBZM7Jt2DSDACNyXsBmM7Jz0TWjuACXs2GasGmGu4CY0MYZC5RoBgGAAAMAvhBFe7mRuyEAAAAASUVORK5CYII=)
  no-repeat right bottom;
}

/*radio*/


.wasabi-radio-btn {
  width: 18px;
  height: 18px;
  display: inline-block;
  float: left;
  margin: -1px 5px 0 0;
  cursor: pointer;
  position: relative;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 1px solid #b3b7bc;
  box-sizing: border-box;

}
.wasabi-radio-btn.readonly{
  background-color: #eee;
  cursor: not-allowed;
}
.wasabi-radio-btn input[type="radio"]{
  visibility: hidden;
  width: 23px;
  height: 23px;
  margin-top: -3px;
  margin-left: -3px;

}

.wasabi-radio-btn i {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 3.4444px;
  top: 3.4444px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  box-sizing: border-box;
}
.checkedRadio{
  border: 2px solid #2ec9c2;
}
.checkedRadio i {
  background-color: #2ec9c2;
}
.wasabi-checkul .radiotext
{
  float:right;
  padding-top:2px;
  padding-left:2px;
  cursor: default;

}