.controlBar-mutiWrap{
  position: relative;
  white-space: nowrap;
}

.controlBar-mutiWrap *{
  vertical-align: middle;
}

.controlBar-def{
  margin-right: 5px;
  cursor: pointer;
}

.controlBar-slider{
  position: absolute;
  left:0;
  border:1px solid #eee;
  background-color: #fff;
  z-index: 99999999999;
  border-radius: 3px;
  box-shadow: 0px 2px 7px rgba(0,0,0,.3);
}

.controlBar-slider li{
  padding: 3px 23px;
  cursor:pointer;
}

.controlBar-slider li:hover{
  background-color: #DCF9F8;
}

.controlBar-slider a{
  line-height: 20px;
  display: inline-block;
  height: 20px;
  color:#333;
}

.controlBar-down,.controlBar-up{
  display: inline-block;
  width:10px;
  height:10px;
  cursor: pointer;
}

.controlBar-up{
  transform: rotate(180deg);
}


.controlBar-down:before,.controlBar-up:before{
  content:" ";
  display: inline-block;
  width:0;
  height:0;
  border-style:solid;
  border-width: 5px;
  border-color:#0ec2bc transparent transparent transparent;
}

.enterWrap{
  display: inline-block;
  height: 100%;
}



