.wasabiD-selectButton{
  display: inline-block;
  position: relative;
}
.wasabiD-selectButton .selectPanel{
  width: 164px;
  margin-top: 8px;
  overflow-x: hidden;
  position: absolute;
  left: 50%;
  margin-left: -82px;
  border: 1px solid #dddddd;
  padding: 12px 0;
  z-index: 9999;
  background: #FFFFFF;
  max-height: 240px;
  overflow-y: auto;
}

.wasabiD-selectButton .selectPanel>li{
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.wasabiD-selectButton .selectPanel>li:hover{
  background:#dff5f4;
  cursor: pointer;
}
.wasabiD-selectButton .selectPanel>li.active{
  background:#dff5f4;
  color: #0ec2bc;
}



.nice-select ul li.active {
  background-color: #dcf9f8;
}
.nice-select ul li.active:after
{
  font-family: 'icomoon' !important;
  content:"\e95d";
  position: absolute;
  top:0px;
  right: 20px;
  width: 16px;
  height: 16px;
  font-size: 16px;
  color:#2ec9c2;
}

.wasabiD-selectButton .icon-drop{
  font-size: 8px;
  color: #d2cfcf;
}