/*create by wangzy
date:2016-03-02
desc:大图标按钮样式
*/
@import url("../base.scss");
.wasabi-toolbar
{
  padding-bottom: 8px;
  padding-left: 10px;
}
.wasabi-toolbar.fr{
  text-align: right;
}

.wasabi-toolbar-group .wasabi-button{
  margin-right: 0;
  border-radius: 0;
}
.wasabi-toolbar-group .wasabi-button.green{
  border-left: 1px solid #40e4df;
}
.wasabi-toolbar-group .wasabi-button:first-child:not(:last-child){
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.wasabi-toolbar-group .wasabi-button:last-child:not(:first-child){
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-right:1px solid #d4d7db;
}
.wasabi-toolbar-group .wasabiD-selectButton:last-child:not(:first-child) .wasabi-button{
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}